RewriteEngine on

# Если запрашиваемый файл или директория не существует, перенаправляем запрос на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php